.page-icon {
    position: relative;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 20px;
    border-radius: 25px;
  }
  .page-icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 20px;
    color: black;
    font-size: 20px;
  }
  .page-icon-dropdown {
    display: none;  
    position: absolute;  
    top: 212%;  
    left: 0;  
    z-index: 1;  
  }
  .page-icon:hover .page-icon-dropdown {
    display: block; 
  }
  .logout {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    padding: 10px 20px;  
    border: 1px solid black;  
    border-radius: 10px;
    background: white;  
    color: black;  
    text-decoration: none; 
    font-size: 16px;  
    font-family: 'Times New Roman', Times, serif;
  }
  .page-icon a, a, button {
    display: inline-block;  
    padding: 10px 20px;  
    border: 1px solid white;
    border-radius: 10px;  
    background: black;  
    color: white;  
    text-decoration: none;  
    font-size: 16px;  
    font-family: 'Times New Roman', Times, serif;
  }
  input[type="submit"],
  input[type="button"] {
    display: inline-block;  
    padding: 10px 20px;  
    border: 3px solid white;  
    border-radius: 10px; 
    background: black; 
    color: white;  
    text-decoration: none;  
    font-size: 16px; 
    font-family: 'Times New Roman', Times, serif;
  }
  
  .page-icon a:hover,
  a:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="button"]:hover {
    border: 3px solid white;
    background: red;  
    color: white; 
    transition: background-color 0.5s ease-in-out;
  }
  .scroll {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .scroll:hover {
    background-color: #f9d423;
    color: black;
  }

  @font-face {
    font-family: 'Indie Flower';
    src: url(IndieFlower-Regular.ttf)
    format('truetype');
  }
  @font-face {
    font-family: 'Pacifico';
    src: url(Pacifico-Regular.ttf)
    format('truetype');
  }
  @font-face {
    font-family: 'Lobster';
    src: url(Lobster-Regular.ttf)
    format('truetype');
  }
  h1 {
    color: #f9d423;  
    font-size: 28px; 
    text-align: center; 
    margin: 50px auto;
    font-family: 'Pacifico';
  }
  h2 {
    color: #f9d423;
    text-align: center;
    margin: 50px 0;
    font-family: 'Courier New', Courier, monospace;
  }

  body {
    background: linear-gradient(to right bottom, grey, black, black, darkgrey);
    background-repeat: no-repeat;
    background-size: cover;
  }
  ul,
  p {
    border: 1px solid #f9d423; 
    width: 50%; 
    border-left-width: 10px;
    background: rgba(251, 255, 0, 0.089);  
    margin-left: 50px;
    color: white;  
    font-size: 24px; 
    text-align: justify;
    font-family: 'Indie Flower';
    font-weight: 700;
    padding: 20px;
  }
  .about, .about2 {
    float: left;
    width: 45%;
    height: 39.3%;
    margin-top: 0px;
    margin-left: 20px;
    overflow: auto;
    word-wrap: break-word;
  }
  .promo {
    border: 1px solid #f9d423;  
    width: 50%; 
    border-right-width: 10px;
    background: rgba(251, 255, 0, 0.089); 
    margin-top: 0px;
    margin-right: 50px;
    margin-bottom: 0px;
    float: right;
    color: #f9d423; 
    font-size: 24px; 
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    padding: 20px;
  }
  .promo2 {
    border: 1px solid #f9d423;  
    width: 50%; 
    border-right-width: 10px;
    background: transparent; 
    margin-top: 0px;
    margin-right: 50px;
    margin-bottom: 0px;
    float: right;
    color: white; 
    font-size: 24px; 
    text-align: justify;
    font-family: 'Indie Flower';
    font-weight: 700;
    padding: 20px;
  }
  .border {
    transition: border-color 1s ease-in-out;
    float: left;
  }
  .right {
    float: right;
    width: 400px;
    height: 400ox;
    margin-right: 100px;
    box-shadow: 0 60px 80px rgba(0,0,0,0.19), 0 24px 24px rgba(0,0,0,0.23);
  }
  .left {
    float: left;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500ox;
    margin-left: 30px;
    margin-bottom: 20px;
    box-shadow: 0 60px 80px rgba(0,0,0,0.5), 0 24px 24px rgba(0,0,0,0.5);
  }
  .signature {
    float: right;
    color: white;
    font-size: 30px;
    font-family: 'Indie Flower';
    margin-top: 15px;
    margin-right: 190px;
  }
  .nasi-goreng {
    width: 600px;
    height: 800px;
    margin-left: 50px;
  }
  .ng-biasa {
    width: 500px;
    height: 500px;
    margin-top: 150px;
    margin-right: 50px;
    box-shadow: 0 60px 80px rgba(0,0,0,0.5), 0 24px 24px rgba(0,0,0,0.5);
  }
  .right-side {
    float: right;
    display: flex;
    flex-direction: column;
  }
  table,
  td,
  th {
    border: 2px solid black; 
    background: white;  
    color: black; 
    font-size: 16px; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    padding: 5px;
  }
  ul,
  form,
  table,
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="date"],
  input[type="time"] {
    margin: 0 auto; 
    text-align: center;  
  }
  form {
    border: 2px solid white; 
    width: 25%;
    border-radius: 20px;  
    background: #f9d423;  
    color: black; 
    font-size: 16px;  
    font-family: 'Indie Flower';
    font-weight: 700;
    padding: 30px;  
  }
  @page {
    size: A4 landscape;
    margin: 0;
    -webkit-print-color-adjust: exact;
  }
  .kolej {
    font-family: 'Times New Roman', Times, serif;
  }
  .come {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .kontak {
    font-family: 'Lobster';
    font-size: 25px;
  }
  iframe {
    border: 3px solid #f9d423;
    float: right;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }
